<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="{% static 'img/site-pic.ico' %}" type="image/icon type" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" /> <!--them vao-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Weather Forecast</title>
</head>

<body>

    <main class="{{ description }}">
        <section class="side-container">
            <form method="POST">
                {% csrf_token %}
                <div class="search-container">
                    <div style="width: 22px;height: 22px;color: white;" class="weather-icon">
                        <i class="bi bi-cloud-fog2"></i>
                    </div>
                    <input type="text" name="city" class="geo-input" placeholder="ex. Lahore England"
                        value="{{ location }}" />
                    <button class="search-button">
                        <div style="width: 25px;height: 25px;color: white;">
                            <i class="bi bi-search"></i>
                        </div>
                    </button>
                </div>
            </form>
            <div class="day-stats">
                <h2 class="day-stats__temperature">
                    <span class="day-stats__temperature_value">{{ current_temp }}</span>°C
                </h2>
                <h3 class="day-stats__feelslike">
                    Feels like:&nbsp&nbsp<span class="day-stats__feelslike_value">{{ feels_like }}</span>°C
                </h3>
                <u1 class="day-stats_conditions">
                    <li>
                        <p class="day-stats_condition">
                            <span class="day-stats_humidity">{{ humidity }}</span>%
                        </p>
                        <p class="day-stats__condition_text">of humidity</p>
                    </li>
                    <li>
                        <p class="day-stats_condition">
                            <span class="day-stats__clouds">{{ clouds }}</span>%
                        </p>
                        <p class="day-stats__condition_text">of Clouds</p>
                    </li>
                </u1>
            </div>
            <img src="{% static 'img/side-blur.png' %}" class="side-blur" alt="blur" />
        </section>

        <section class="main-container">
            <h4 class="secondary-title">Weather Forecast</h4>
            <h1 class="weather__primary-title">{{ description }}</h1>
            <div class="weather__location">
                <div style="width: 15px;height: 15px;color: white;" class="location-icon">
                    <i class="bi bi-geo-alt-fill"></i>
                </div>
                <p class="weather__location-text">
                    <span class="weather__location-city">{{ city }}</span>
                    <span class="weather__location-country">{{ country }}</span>
                    <span class="weather__location-date">{{ time }}</span>
                </p>
            </div>
            <p class="weather__primary-stats">
                Wind
                <span class="weatherWindKph">{{ wind }}</span> kilometers per hours. Pressure
                is <span class="weatherPressure">{{ pressure }}</span> mb. Visibility is
                <span class="weatherVisibility">{{ visibility }}</span>. Maximum temperature
                is <span class="weatherMaxTemp">{{ MaxTemp }}</span>°C. Minimum temperature is
                <span class="weatherMinTemp">{{ MinTemp }}</span>°C.
            </p>

            <u1 class="forecast">
                <li class="forecast-item">
                    <p class="forecast-time">{{ time1 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp1 }}</span>°C
                    </p>
                    <p class="forecast-humidity">
                        Humidity: <span class="forecast-humidityValue">{{ hum1 }}</span>
                    </p>
                </li>
                <li class="forecast-item">
                    <p class="forecast-time">{{ time2 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp2 }}</span>°C
                    </p>
                    <p class="forecast-humidity">
                        Humidity: <span class="forecast-humidityValue">{{ hum2 }}</span>
                    </p>
                </li>
                <li class="forecast-item">
                    <p class="forecast-time">{{ time3 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp3 }}</span>°C
                    </p>
                    <p class="forecast-humidity">
                        Humidity: <span class="forecast-humidityValue">{{ hum3 }}</span>
                    </p>
                </li>
                <li class="forecast-item">
                    <p class="forecast-time">{{ time4 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp4 }}</span>°C
                    </p>
                    <p class="forecast-humidity">
                        Humidity: <span class="forecast-humidityValue">{{ hum4 }}</span>
                    </p>
                </li>
                <li class="forecast-item">
                    <p class="forecast-time">{{ time5 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp5 }}</span>°C
                    </p>
                    <p class="forecast-humidity">
                        Humidity: <span class="forecast-humidityValue">{{ hum5 }}</span>
                    </p>
                </li>
            </u1>

            <canvas id="chart" height="45px"></canvas>
        </section>
    </main>

    <!--  -->
    <button id="toggleBtn">Hide map</button>
    <button id="confirmBtn"><b>Confirm</b></button>
    <button id="deleteBtn"><b>Delete</b></button>

    <div id="map"></div>

    <!-- <p id="status"></p> -->
    <p id="status1"></p>
    <p id="status2"></p>
    <p id="status3"></p>

    <div id="map-pin">
        <div id="pin-item-1">
            <div id="pin-color-red" class="red-marker"></div>
            <span><b>Tọa độ 1</b></span>
        </div>
        <div id="pin-item-2">
            <div id="pin-color-green" class="green-marker"></div>
            <span><b>Tọa độ 2</b></span> 
        </div>
        <div id="pin-item-3">
            <div id="pin-color-blue" class="blue-marker"></div>
            <span><b>Tọa độ 3</b></span>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-database-compat.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!--  -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{% static 'js/chartSetup.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script> <!--them vao-->
</body>

</html>